/* waar display:none staat, wilt
zeggen dat dit nodig is om de animaties uit te voeren in het begin */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* mobiele versie (kleine schermen) */

@media only screen and (max-width: 999px) {
    .dropbtn {
        background-color: #006633;
        color: whitesmoke;
        
        font-size: 1.4em;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: #004d00;
    }
    .dropdown {
        position: relative;
        box-shadow: 0.1em 0.1em 1em #003300;
        width: 100%;
        height: 4em;
        text-align: center;
        background-color: #004d00;
    }
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #006633;
        width: 100%;
        box-shadow: 0.1em 0.1em 2em #003300;
        margin: auto;
        overflow: hidden;
    }
    .dropdown-content a {
        
    }
    .show {
        display: block;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9em;
        margin: 0;
        height: 100em;
        background-image: url(Afbeeldingen/greentexture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dropdownmenu {
        width: 100%;
        height: 4em;
        background-color: black;
    }
    .dropdownmenu p {
        text-align: center;
        color: whitesmoke;
        padding: 0.5em;
        padding-top: 1em;
    }
    .header {
        background-color: #006633;
        color: whitesmoke;
        width: 100%;
        height: 8em;
        
    }
    .logo {
        background-image: url(banner%201.png);
        height: 4em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        width: 100%;
    }
    .banner {
        width: 100%;
        height: 10em;
        background-image: url(enigma%20header%20image.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    iframe {
        display: block;
        margin: auto;
        padding-bottom: 2em;
        width: 30em;
        height: 15em;
    }
    .soundcloud {
        height: 2em;
        width: 2em;
    }
    .nav {
        display: none;
        height: 100%;
        width: 100%;
    }
    .nav ul{
        padding: 0em;
        
        

    }
    .nav ul li {
        list-style: none;
        display: block;
        display: flex;
        width: 100%;
        margin: auto;
    }
    .nav ul li a {
        text-decoration: none;
        padding-bottom: 0.8em;
        background: #006633;
        color: #eee;
        text-align: center;
        margin-bottom: 0.1em;
        width: 100%;
        border-top-color: black;
        border-bottom-color: black;
        border-right-color: #006633;
        border-left-color: #006633;
        border-style: solid;
        border-width: 0.2em;
        padding-top: 0.9em;
    }
    .nav ul li a:hover {
        color: white;
        box-shadow: 0.1em 0.1em 0.2em 0.09em #001a09;
    }
    /*als een toets ingedrukt wordt maar ik weet niet de juiste command voor */
    .nav ul li a:press {
        color: limegreen;
        background-color: black;
        box-shadow: 0.15em 0.15em 0.25em 0.1em #001a09;
    }
    #wrapper {
        width: 100%;
    }
    .content {
        height: 100%;
        width: 100%;
        display: none;
    }
    .tekstbeelden {
        margin-top: 2em;
        text-align: center;
        font-size: 1.5em;
        height: 2em;
        width: 100%;
    }
    #map {
        height: 20em;
        width: 25em;
        margin: auto;
        box-shadow: 0.1em 0.1em 1em #003300;
        
    }
    .text {
        width: 95%;
        ;
        color: black;
        display: block;
        text-align: center;
        margin: auto;
        height: auto;
    }
    .text h4 {
        color: white;
        font-size: 3em;
    }
    .text p {
        float: left;
        height: auto;
        font-weight: bold;
    }
    .footer {
        width: 100%;
        margin: auto;
        background-color: black;
        height: 5em;
        bottom: 0em;
        display: block;
        position: fixed;
    }
    .footer p {
        color: whitesmoke;
    }
    #info {
        display: block;
    }
    #info p {
        text-align: center;
    }
    #ontwikkelaars {
        text-align: center;
        color: beige;
    }
    #slider {
        height: 25em;
        width: 80%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 5em;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        
    }
    #image {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    /* foto pagina */
    .left_hold {
        height: 100%;
        width: 3em;
        position: absolute;
    }
    .right_hold {
        height: 100%;
        width: 3em;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .left {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        left: 60%;
        margin: auto;
        opacity: 0;
        transition: all .2s ease-in-out 0s;
    }
    .right {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        right: 60%;
        opacity: 0;
        transition: all .5s ease-in-out 0s;
    }
    .left_hold:hover .left {
        opacity: 0.6;
    }
    .right_hold:hover .right {
        opacity: 0.6;
    }
    .left:hover .left1 {}
    .sponsors {
        padding-top: 5em;
        width: 75%;
        margin: auto;
        text-align: center;
        font-size: 1.5em;
        height: 25em
    }
    .sponsors a {
        color: white;
    }
    .content p {
        color: white;
    }
    .lied {
        padding-top: 5em;
        height: 80em;
        margin: auto;
        width: 50em;
        text-align: center;
        padding-right: 3em;
    }
    .lied p {
        text-align: center;
    }
    .contact {}
    .contactenpagina {
        padding-top: 5em;
        width: 80%;
        height: 40em;
        margin: auto;
        text-align: center;
        
    }
     #Bestuur {
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        
        height: 100%;
        width: 100%;
    }
    
    #Bestuur tr{
        
    }
    
    bestuur tr th{
        width: 3em;
        height: 2em;
        font-size: 0.8em;
        color: black;
        border-style: solid;
        border-color: black;
        border-width: thin;
    }
}


/*tablet en laptop versie (medium versie) */

@media only screen and (min-width: 1000px) and (max-width: 1399px) {
    .dropbtn {
        display: none;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.89em;
        margin: 0;
        height: 100em;
        background-image: url(Afbeeldingen/greentexture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dropdownmenu {
        display: none;
    }
    .header {
        background-color: #006633;
        color: whitesmoke;
        padding-right: 2em;
        width: 20%;
        height: 100%;
        position: fixed;
    }
    .logo {
        background-image: url(banner%201.png);
        height: 5em;
        width: 100%;
        margin-bottom: 4em;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .banner {
        width: 100%;
        height: 20%;
        background-image: url(enigma%20header%20image.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: cover;
    }
    iframe {
        display: block;
        margin: auto;
        padding-bottom: 2em;
        width: 30em;
        height: 15em;
    }
    .soundcloud {
        height: 2em;
        width: 2em;
    }
    .nav {
        display: none;
        height: 100%;
        width: 100%;
    }
    .nav ul li {
        list-style: none;
        display: flex;
        width: 100%;
    }
    .nav ul li a {
        text-decoration: none;
        padding-bottom: 0.8em;
        background: #006633;
        color: #eee;
        text-align: center;
        margin-bottom: 0.1em;
        width: 100%;
        border-top-color: black;
        border-bottom-color: black;
        border-right-color: #006633;
        border-left-color: #006633;
        border-style: solid;
        border-width: 0.2em;
        padding-top: 0.9em;
    }
    .nav ul li a:hover {
        color: white;
        box-shadow: 0.1em 0.1em 0.2em 0.09em #001a09;
    }
    /*als een toets ingedrukt wordt maar ik weet niet de juiste command voor */
    .nav ul li a:press {
        color: limegreen;
        background-color: black;
        box-shadow: 0.15em 0.15em 0.25em 0.1em #001a09;
    }
    #wrapper {
        width: 100%;
    }
    .content {
        height: 100em;
        width: 80%;
        margin-left: 22%;
        box-shadow: 2em 2em 2em #003300;
        display: none;
    }
    #map {
        height: 25em;
        width: 35em;
        margin: auto;
    }
    .text {
        width: 75%;
        color: black;
        display: block;
        text-align: center;
        margin: auto;
        height: auto;
    }
    .text h4 {
        color: white;
        font-size: 3em;
    }
    .text p {
        float: left;
        height: auto;
        font-weight: bold;
    }
    .footer {
        width: 100%;
        margin: auto;
        background-color: black;
        height: 5em;
        bottom: 0em;
        display: block;
        position: fixed;
    }
    .footer p {
        color: whitesmoke;
    }
    #info {
        display: block;
    }
    #info p {
        text-align: center;
    }
    #ontwikkelaars {
        text-align: center;
        color: beige;
    }
    #slider {
        height: 25em;
        width: 80%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 5em;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        
    }
    .tekstbeelden {
        margin-top: 2em;
        text-align: center;
        font-size: 1.5em;
        height: 2em;
        width: 100%;
    }
    #image {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    /* foto pagina */
    .left_hold {
        height: 100%;
        width: 3em;
        position: absolute;
    }
    .right_hold {
        height: 100%;
        width: 3em;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .left {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        left: 60%;
        margin: auto;
        opacity: 0;
        transition: all .2s ease-in-out 0s;
    }
    .right {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        right: 60%;
        opacity: 0;
        transition: all .5s ease-in-out 0s;
    }
    .left_hold:hover .left {
        opacity: 0.6;
    }
    .right_hold:hover .right {
        opacity: 0.6;
    }
    .left:hover .left1 {}
    .sponsors {
        padding-top: 5em;
        width: 75%;
        margin: auto;
        text-align: center;
        font-size: 1.5em;
        height: 25em
    }
    .sponsors a {
        color: white;
    }
    .content p {
        color: white;
    }
    .lied {
        padding-top: 5em;
        height: 80em;
        margin: auto;
        width: 50em
    }
    .lied p {
        text-align: center;
    }
    .contact {}
    .contactenpagina {
        padding-top: 5em;
        width: 80%;
        height: 40em;
        margin: auto;
        text-align: center;
    }
     #Bestuur {
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        height: 100%;
        width: 70em;
    }
    
    #Bestuur tr{
        
    }
    
    bestuur tr th{
        width: 3em;
        height: 2em;
        font-size: 0.8em;
        color: black;
        border-style: solid;
        border-color: black;
        border-width: thin;
    }
}


/* Dit is de desktop versie */

@media only screen and (min-width: 1400px) {
    .tekstbeelden {
        margin-top: 2em;
        text-align: center;
        font-size: 1.5em;
        height: 2em;
        width: 100%;
    }
    .dropbtn {
        display: none;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.89em;
        margin: 0;
        background-image: url(Afbeeldingen/greentexture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%
    }
    .header {
        background-color: #006633;
        color: whitesmoke;
        top: 0px;
    }
    .logo {
        background-image: url(banner%201.png);
        display: inline-block;
        padding: 2em;
        padding-left: 6em;
        padding-right: 6em;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .dropdownmenu {
        display: none;
    }
    .banner {
        width: 100%;
        height: 20em;
        background-image: url(enigma%20header%20image.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    iframe {
        display: block;
        margin: auto;
        padding-bottom: 2em;
        width: 30em;
        height: 15em;
    }
    .soundcloud {
        height: 2em;
        width: 2em;
    }
    .nav {
        display: block;
        display: none;
        height: 4em;
        width: 50em;
        float: right;
        background-color: #006633;
    }
    .nav ul {
        margin: 0;
        padding: 0;
    }
    .nav ul li {
        list-style: none;
    }
    .nav ul li a {
        margin-top: 0.8em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-decoration: none;
        display: inline-block;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        background: #006633;
        color: #eee;
        float: left;
        text-align: center;
        border-style: solid;
        border-color: #006633;
        border-width: 0.15em;
        box-shadow: 0.1em 0.1em 0.1em #003300;
    }
    .nav ul li a:hover {
        color: white;
        border-right-color: #008000;
        border-bottom-color: #008000;
        box-shadow: 0.1em 0.1em 0.2em 0.09em #001a09;
    }
    #wrapper {
        width: 100%;
    }
    .content {
        height: 100%;
        width: 80%;
        margin: auto;
        box-shadow: 0em 1em 2em 1em #003300;
        display: none;
    }
    #map {
        height: 50%;
        width: 50%;
        margin: auto;
    }
    .text {
        margin: auto;
        width: 75%;
        background-color: white transparent 50%;
        font-size: 1em;
        color: black;
        height: 50em;
        text-align: center;
    }
    .text h4 {
        color: black;
        font-size: 3em;
    }
    .text p {
        float: left;
        height: auto;
        font-weight: bold;
    }
    .footer {
        width: 100%;
        margin: auto;
        background-color: black;
        height: 6em;
        bottom: 0em;
    }
    .footer p {
        color: whitesmoke;
    }
    .footer:hover {
        height: 6em;
        background-color: darkgray;
        bottom: 0em;
    }
    #info {
        display: block;
    }
    #info p {
        text-align: center;
    }
    #ontwikkelaars {
        display: block;
    }
    #ontwikkelaars {
        text-align: center;
    }
   #slider {
        height: 25em;
        width: 80%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 5em;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        
    }
    #image {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    /* foto pagina */
    .left_hold {
        height: 100%;
        width: 3em;
        position: absolute;
    }
    .right_hold {
        height: 100%;
        width: 3em;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .left {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        left: 60%;
        margin: auto;
        opacity: 0;
        transition: all .2s ease-in-out 0s;
    }
    .right {
        height: 3em;
        width: 3em;
        position: absolute;
        top: 3em;
        right: 60%;
        opacity: 0;
        transition: all .5s ease-in-out 0s;
    }
    .left_hold:hover .left {
        opacity: 0.6;
    }
    .right_hold:hover .right {
        opacity: 0.6;
    }
    .left:hover .left1 {}
    .sponsors {
        padding-top: 5em;
        width: 75%;
        margin: auto;
        text-align: center;
        font-size: 1.5em;
        height: 25em
    }
    .sponsors a {
        color: white;
    }
    .lied {
        padding-top: 5em;
        height: 57em;
        margin: auto;
        width: 50em
    }
    .lied p {
        text-align: center;
    }
    .contact {
    }
    .contactenpagina {
        padding-top: 5em;
        width: 80%;
        height: 55em;
        margin: auto;
        text-align: center;
    }
    #Bestuur {
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
       
        height: 100%;
        width: 70em;
    }
    
    #Bestuur tr{
        
    }
    
    bestuur tr th{
        width: 3em;
        height: 2em;
        font-size: 0.8em;
        color: black;
        border-style: solid;
        border-color: black;
        border-width: thin;
    }
    
}